.navbarTop {
  background-color: #EFE5DB;
  height: 9.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navbarTop a {
    text-decoration: none;
    color: #414141;
    height: fit-content; }
  .navbarTop .navbarTop__logo {
    margin: 1.5rem; }

@media (max-width: 576px) {
  .navbarTop__logo {
    margin: 1rem;
    width: 40%; } }

.contactanosCont {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  align-items: center;
  margin: 1rem; }

.contactanosCont__text {
  font-size: 1.8rem;
  text-align: center;
  color: #414141; }

.instagramCont__icon, .whatsappCont__icon {
  background-color: #EFE5DB;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  margin: 0.2rem;
  display: flex;
  align-items: center; }
  .instagramCont__icon i, .whatsappCont__icon i {
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #414141; }
    .instagramCont__icon i:hover, .whatsappCont__icon i:hover {
      color: #AA7B6D; }

@media (min-width: 1200px) {
  .navbarTop img {
    width: 20rem; } }

.navbar a {
  text-decoration: none;
  color: #414141;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center; }

#navbarBottom {
  background-color: #D3BAAF; }
  #navbarBottom a:hover {
    color: #AA7B6D; }

.navbar-brand span {
  display: none; }

@media (max-width: 993px) {
  .contactanosCont {
    position: fixed;
    margin: 0;
    bottom: 20px;
    right: 20px; }
    .contactanosCont .contactanosCont__text {
      display: none; }
    .contactanosCont .instagramCont__icon {
      width: 5rem;
      height: 5rem;
      background-color: #D3BAAF;
      box-shadow: 0px 2px 5px #414141; }
      .contactanosCont .instagramCont__icon i {
        color: #AA7B6D;
        font-size: 3.5rem; }
    .contactanosCont .whatsappCont__icon {
      display: none; }
  .navbar li {
    margin: 1.5rem; }
  #navbarBottom {
    background-color: #EFE5DB; } }

@media (min-width: 993px) {
  #contactoId {
    display: none; } }

.carousel {
  height: 60rem; }
  .carousel img {
    height: 60rem;
    object-fit: cover; }

.carousel-control-prev, .carousel-control-next {
  background-color: #D3BAAF;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  top: 45% !important;
  margin: 1rem; }

.carousel-control-prev-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.3vw; }

.carousel-control-next-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 0.3vw; }

.carousel__imagen {
  position: relative;
  display: inline-block;
  text-align: center; }

.carousel__texto {
  position: absolute;
  bottom: 15%;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 229, 219, 0.6);
  font-size: 2.2rem;
  text-align: center;
  color: #414141;
  font-weight: 600; }

#contenedor__carga {
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000; }

#carga {
  border: 10px solid #ccc;
  border-top-color: #D3BAAF;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite; }

@keyframes girar {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media (max-width: 1010px) {
  main {
    font-size: 1.4rem; } }

@media (max-width: 878px) {
  html {
    font-size: 1.3vw; } }

@media (max-width: 700px) {
  html {
    font-size: 1.5vw; } }

@media (max-width: 600px) {
  html {
    font-size: 1.8vw; } }

@media (max-width: 500px) {
  html {
    font-size: 2vw; } }

@media (max-width: 400px) {
  html {
    font-size: 2.27vw; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  color: #6A6565; }

header {
  text-transform: uppercase; }

main {
  font-size: 1.6rem; }
  main section#quienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem; }
    main section#quienesSomos div {
      background-color: #EFE5DB;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 13rem;
      padding: 1.5rem;
      margin: 2rem;
      text-align: center; }
      main section#quienesSomos div h1 {
        padding: 0.5rem; }
  @media (max-width: 993px) {
    main section#quienesSomos div {
      width: 100%; } }
  main section#nuestrosProductos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main section#nuestrosProductos h1 {
      margin-top: 3rem; }
    main section#nuestrosProductos div#productos__pedidosInfo {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      flex-wrap: wrap;
      text-align: center;
      margin: 3rem; }
      main section#nuestrosProductos div#productos__pedidosInfo div.mainProductos__divInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 25rem;
        margin: 1rem; }
        main section#nuestrosProductos div#productos__pedidosInfo div.mainProductos__divInfo img {
          height: 3rem;
          width: auto; }
        main section#nuestrosProductos div#productos__pedidosInfo div.mainProductos__divInfo p {
          text-align: center;
          margin: 1rem;
          text-transform: uppercase;
          color: #6A6565;
          font-weight: 500; }
    main section#nuestrosProductos div#productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      justify-content: space-evenly; }
      main section#nuestrosProductos div#productos div {
        text-align: center;
        border: none; }
      main section#nuestrosProductos div#productos div.productos__card--hover {
        width: 25rem; }
        main section#nuestrosProductos div#productos div.productos__card--hover .btn:focus {
          outline: none;
          box-shadow: none; }
        main section#nuestrosProductos div#productos div.productos__card--hover .card-title {
          text-transform: uppercase;
          color: #6A6565;
          font-weight: 500;
          font-size: 1.6rem; }
      main section#nuestrosProductos div#productos div.productos__card--hover:hover {
        background-color: rgba(239, 229, 219, 0.6); }
      main section#nuestrosProductos div#productos div.modal div.modal-dialog div.modal-content div.modal-header {
        display: flex;
        flex-direction: column; }
        main section#nuestrosProductos div#productos div.modal div.modal-dialog div.modal-content div.modal-header h5 {
          width: 100%;
          font-size: 3rem;
          text-align: center; }
  @media (max-width: 993px) {
    main div#productos {
      height: 80vh;
      overflow-y: scroll; }
      main div#productos div.modal div.modal-dialog div.modal-content div.modal-body div {
        text-transform: lowercase; } }
  main section#matesPersonalizados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem; }
    main section#matesPersonalizados div {
      background-color: #EFE5DB;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 13rem;
      padding: 1.5rem;
      margin: 2rem;
      text-align: center; }
      main section#matesPersonalizados div h1 {
        padding: 0.5rem; }
  @media (max-width: 993px) {
    main section#matesPersonalizados div {
      width: 100%; } }
  main section#matetips {
    display: flex;
    flex-direction: column;
    text-align: center; }
    main section#matetips h1 {
      margin-top: 3rem; }
    main section#matetips div#mateTips__tipsContainer {
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: 0 auto; }
      main section#matetips div#mateTips__tipsContainer button.btn div.mainMatetips__divBotonGrande {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 35rem;
        margin-top: 3.5rem; }
        main section#matetips div#mateTips__tipsContainer button.btn div.mainMatetips__divBotonGrande h3 {
          display: none;
          font-size: 2.5rem;
          color: white;
          position: relative;
          text-align: center; }
      main section#matetips div#mateTips__tipsContainer button.btn div.mainMatetips__divBotonGrande:hover h3 {
        display: inline; }
      main section#matetips div#mateTips__tipsContainer button.btn div#mainMatetip__divBotonGrande--curar {
        background-image: url(../images/curar.jpg); }
      main section#matetips div#mateTips__tipsContainer button.btn div#mainMatetip__divBotonGrande--cebar {
        background-image: url(../img/../images/cebar.jpg); }
      main section#matetips div#mateTips__tipsContainer button.btn div#mainMatetip__divBotonGrande--cuidar {
        background-image: url(../img/../images/cuidar.jpg); }
      main section#matetips div#mateTips__tipsContainer button.btn div#mainMatetip__divBotonGrande--curar:before, main section#matetips div#mateTips__tipsContainer button.btn div#mainMatetip__divBotonGrande--cebar:before, main section#matetips div#mateTips__tipsContainer button.btn div#mainMatetip__divBotonGrande--cuidar:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5); }
      main section#matetips div#mateTips__tipsContainer button:focus {
        outline: transparent;
        box-shadow: none; }
      main section#matetips div#mateTips__tipsContainer #tip1, main section#matetips div#mateTips__tipsContainer #tip2, main section#matetips div#mateTips__tipsContainer #tip3 {
        display: none; }
      main section#matetips div#mateTips__tipsContainer div.mateTip__tipDesplegado {
        position: relative;
        background-color: rgba(239, 229, 219, 0.6);
        height: 35rem;
        margin-top: 3.85rem; }
        main section#matetips div#mateTips__tipsContainer div.mateTip__tipDesplegado div {
          height: 100%;
          display: flex;
          align-items: center;
          padding: 1rem; }
          main section#matetips div#mateTips__tipsContainer div.mateTip__tipDesplegado div ol {
            text-align: left; }
            main section#matetips div#mateTips__tipsContainer div.mateTip__tipDesplegado div ol li {
              margin-top: 1.2rem; }
              main section#matetips div#mateTips__tipsContainer div.mateTip__tipDesplegado div ol li p.mateTips__subtitulo {
                font-weight: bold;
                margin-bottom: 0.2rem; }
        main section#matetips div#mateTips__tipsContainer div.mateTip__tipDesplegado button {
          position: absolute;
          top: 1rem;
          right: 0; }
  @media (max-width: 878px) {
    main section#matetips div#mateTips__tipsContainer {
      display: flex;
      flex-direction: column; }
      main section#matetips div#mateTips__tipsContainer button.btn div.mainMatetips__divBotonGrande h3 {
        display: block; } }

footer {
  background-color: #EFE5DB;
  height: 15rem;
  padding: 2rem;
  text-align: center;
  margin-top: 1.5rem; }
  footer h1 {
    margin-bottom: 1rem; }
  footer i {
    margin: 1rem; }
    footer i:hover {
      color: #AA7B6D; }

@media (min-width: 993px) {
  footer {
    display: none; } }
