* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF; }

header {
  text-transform: uppercase; }

.navbarTop {
  background-color: #EFE5DB;
  height: 9.6rem;
  font-weight: 500; }
  .navbarTop a {
    text-decoration: none;
    color: #414141; }

.contactanosCont {
  width: 300px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  align-items: center; }

.contactanosCont__text {
  font-size: 2rem;
  text-align: center;
  color: #414141; }
  .contactanosCont__text:hover {
    color: #AA7B6D; }

.instagramCont__icon, .whatsappCont__icon {
  background-color: #EFE5DB;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center; }
  .instagramCont__icon i, .whatsappCont__icon i {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #414141; }
    .instagramCont__icon i:hover, .whatsappCont__icon i:hover {
      color: #AA7B6D; }

.navbar a {
  text-decoration: none;
  color: #414141;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center; }

#navbarBottom {
  background-color: #D3BAAF; }
  #navbarBottom a:hover {
    color: #AA7B6D; }

.navbar-brand span {
  display: none; }

@media (max-width: 993px) {
  .contactanosCont {
    position: fixed;
    width: 40px;
    bottom: 20px;
    right: 20px; }
    .contactanosCont .contactanosCont__text {
      display: none; }
  .whatsappCont__icon {
    display: none; }
  .navbar li {
    margin: 1.5rem; }
  #navbarBottom {
    background-color: #EFE5DB; } }

@media (min-width: 993px) {
  #contactoId {
    display: none; } }

.carousel-control-prev, .carousel-control-next {
  background-color: #D3BAAF;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  top: 45% !important;
  margin: 1rem; }

.carousel-control-prev-icon {
  width: 2.1vw;
  height: 2.1vw;
  margin-right: 0.3vw; }

.carousel-control-next-icon {
  width: 2.1vw;
  height: 2.1vw;
  margin-left: 0.3vw; }

.carousel__imagen {
  position: relative;
  display: inline-block;
  text-align: center; }

.carousel__texto {
  position: absolute;
  bottom: 15%;
  width: 100%;
  height: 4vw;
  padding: 0.5vw;
  margin: 0;
  background-color: rgba(239, 229, 219, 0.6);
  font-size: 2.5vw;
  text-align: center;
  color: #414141; }

main section#quienesSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }
  main section#quienesSomos div {
    background-color: #EFE5DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 13rem;
    padding: 1.5rem;
    margin: 2rem;
    text-align: center; }
    main section#quienesSomos div p {
      font-size: 1.5rem; }

@media (max-width: 993px) {
  main section#quienesSomos div {
    width: 100%; } }

main section#nuestrosProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-transform: uppercase; }
  main section#nuestrosProductos div#productos__pedidosInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
    text-align: center; }
    main section#nuestrosProductos div#productos__pedidosInfo div.mainProductos__divInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 25rem;
      margin: 2rem; }
      main section#nuestrosProductos div#productos__pedidosInfo div.mainProductos__divInfo img {
        height: 3rem;
        width: auto;
        margin: 1rem; }
      main section#nuestrosProductos div#productos__pedidosInfo div.mainProductos__divInfo p {
        font-size: 1.25rem;
        text-align: center;
        margin: 1rem; }
  main section#nuestrosProductos div#productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly; }
    main section#nuestrosProductos div#productos div {
      text-align: center;
      border: none; }

main section#matesPersonalizados {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }
  main section#matesPersonalizados div {
    background-color: #EFE5DB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 13rem;
    padding: 1.5rem;
    margin: 2rem;
    text-align: center; }
    main section#matesPersonalizados div p {
      font-size: 1.25rem; }

@media (max-width: 993px) {
  main section#matesPersonalizados div {
    width: 100%; } }

main section#matetips {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem; }
  main section#matetips button.btn div.mainMatetips__divBotonGrande {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 20rem;
    margin-top: 3.5rem; }
    main section#matetips button.btn div.mainMatetips__divBotonGrande h3 {
      font-size: 2.1rem;
      color: white;
      position: relative;
      text-align: center; }
  main section#matetips button.btn div#mainMatetip__divBotonGrande--curar {
    background-image: url(../images/sample.jpg); }
  main section#matetips button.btn div#mainMatetip__divBotonGrande--cebar {
    background-image: url(../img/../images/sample.jpg); }
  main section#matetips button.btn div#mainMatetip__divBotonGrande--curar:before, main section#matetips button.btn div#mainMatetip__divBotonGrande--cebar:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  main section#matetips button:focus {
    outline: transparent;
    box-shadow: none; }
  main section#matetips #tip1, main section#matetips #tip2 {
    display: none; }
  main section#matetips div.container ul {
    list-style: none;
    font-size: 1.25rem; }
    main section#matetips div.container ul li {
      margin-top: 1.7rem; }

footer {
  background-color: #EFE5DB;
  height: 12rem;
  padding: 2rem;
  text-align: center;
  margin-top: 1.5rem; }
  footer h1 {
    margin-bottom: 1rem; }
  footer i {
    margin: 1rem; }
    footer i:hover {
      color: #AA7B6D; }

@media (min-width: 993px) {
  footer {
    display: none; } }
