@import "colors";

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $white;
    // !!!!!!! lo comento porque me está volviendo upper todos los textos
    // text-transform: uppercase;
}
// !!!!!! aplicaré el text-transform al header únicamente
header{
    text-transform: uppercase;
}
.navbarTop {
    background-color: $beige;
    height: 9.6rem;

    a {
        text-decoration: none;
        color: $text1;

        span {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        }
    }
}

.navbar {
    a {
        text-decoration: none;
        color: $text1;
        font-size: 2.1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.navbar-brand {
    span {
        display: none;
    }
}

#navbarBottom {
    background-color: $darkBrown;
}

.instagramContainer{
    width: 300px;
    display: flex;
    flex-direction: row;
}

.instagramContainer__text {
    font-size: 2.1rem;
    width: 160px;
}

.instagramContainer__icon {
    background-color: $beige;
    border-radius: 50%;
    height: 35px; 
    width: 35px;
    position: relative;
    margin: 0;
    i {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}


@media (max-width: 993px){
    #navbarBottom {
        background-color: $beige;
        ul {
            background-color: $darkBrown;
            margin-top: 2rem;
        }
    }
    .instagramContainer {
        position: fixed;
        bottom: 0;
        .instagramContainer__text {
            display: none;
        }
    }
}
// ---------------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------MAIN--------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
main{
    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION PRODUCTOS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#nuestrosProductos{
        display: flex;
        flex-direction: column;
        align-items: center;

        text-transform: uppercase;

        div#productos__pedidosInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 70%;

            div.mainProductos__divInfo{                
                display: flex;
                flex-direction: row;                                

                img{
                    height: 3rem;
                    width: auto;
                    margin-right: 3rem;
                }
                p{
                    font-size: 1.25rem;
                }
            }
        }
        //la lista de productos que se hará de forma dinámica 
        div#productos{
            display: flex;

        }
    }
    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION MATETIPS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#matetips{

        display: flex;
        flex-direction: column;
        text-align: center;

        button.btn{           

            div.mainMatetips__divBotonGrande{
                display: flex;
                justify-content: center;
                align-items: center;
                
                background-position: center center;
                background-size: cover;
                position: relative;

                height: 20rem;
                margin-top: 3.5rem;

                h3{
                    font-size: 2.1rem;
                    color: white;

                    position: relative;
                    text-align: center;
                }
            }
            // LAS IMÁGENES QUE ESTÁN DENTRO DE LOS BOTONES QUE DESPLIEGAN LOS TIPS
            div#mainMatetip__divBotonGrande--curar{
                background-image: url(../images/sample.jpg); 
            }
            div#mainMatetip__divBotonGrande--cebar{
                background-image: url(../img/../images/sample.jpg);                 
            }
            // PARA SOMBREAR LAS IMÁGENES, PERMITIENDO MEJOR LECTURA DE LOS TÍTULOS
            div#mainMatetip__divBotonGrande--curar:before , div#mainMatetip__divBotonGrande--cebar:before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        button:focus{
            outline: transparent;
            box-shadow: none;
        }

        #tip1, #tip2{
            display: none;
        }

        div.container{
            ul{
                list-style: none;
                font-size: 1.25rem;
                li{
                    margin-top: 1.7rem;
                }
            }
        }
    }

}
