@import "colors";

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $white;
}

// !!!!!! aplicaré el text-transform al header únicamente
header{
    text-transform: uppercase;
}

// PARTE SUPERIOR DEL NAVBAR (contiene el logo y contacto)
//Si te fijás, armé como un navbar de dos partes (navbarTop y navbarBottom) 
//para poder agregar el "Contáctenos" y los íconos y, por debajo, el navbar que se hace toggle. 
//Esto sería el estilo de la parte superior (navbarTop). 
.navbarTop {
    background-color: $beige;
    height: 9.6rem;
    font-weight: 500;

    a {
        text-decoration: none;
        color: $text1;
    }
}

//CONTENEDOR DEL CONTACTO Y LOS ICONOS DE WHATSAPP E INSTAGRAM
.contactanosCont{
    width: 300px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    align-items: center;
}

.contactanosCont__text {
    font-size: 2rem;
    text-align: center;
    color: $text1;
    &:hover{
        color: $brownHovered;
    }
}

//Acá le doy formato al div que contiene los íconos. 
//Les pongo un radio redondo para usarlos en el responsive
.instagramCont__icon, .whatsappCont__icon {
    background-color: $beige;
    border-radius: 50%; 
    width: 4rem;
    height: 4rem;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    i { 
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        color: $text1;
        &:hover{
            color: $brownHovered;
        }
    }
}

//PARTE INFERIOR DEL NAVBAR
//Estilo para links y textos del navbar
.navbar {
    a {
        text-decoration: none;
        color: $text1;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
    }
}

//Pintar de marrón el navbar
#navbarBottom {
    background-color: $darkBrown;
    a:hover{
        color: $brownHovered;
    }
}

//Esto capaz no se entiende mucho. Boostrap detecta esta clase (originalmente pensada para el brand)
// y ubica el toggle del navbar (en responsive) a la derecha. 
//Entonces le puse el nombre de la página para que no quede vacío, pero lo oculté.
.navbar-brand {
    span {
        display: none;
    }
}

//RESPONSIVE DEL NAVBAR Y FOOTER
@media (max-width: 993px){
    //RESPONSIVE DEL CONTENEDOR DEL CONTACTO
    //Acá lo pongo fixed para que el ícono de Instagram se desplace en el lateral de la web.
    .contactanosCont {
        position: fixed;
        width: 40px;
        bottom: 20px;
        right: 20px;

        //Acá oculto el texto "Contáctenos" al hacerse el responsive.
        .contactanosCont__text {
            display: none;
        }
    }
    // Quitar el ícono de whatsapp en responsive
    .whatsappCont__icon{
        display: none;
    }

    .navbar li {
        margin: 1.5rem;
    }
    
    #navbarBottom {
        background-color: $beige;
    }
}

//OCULTAR CONTACTO EN TOGGLER Y FOOTER
@media (min-width: 993px){
    #contactoId {
        display: none;
    }
}

//CAROUSEL
//BOTON Y FLECHA DEL CAROUSEL
.carousel-control-prev, .carousel-control-next {
    background-color: $darkBrown;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    top: 45% !important;
    margin: 1rem;
}

.carousel-control-prev-icon{
    width: 2.1vw;
    height: 2.1vw;
    margin-right: 0.3vw;
}
.carousel-control-next-icon {
    width: 2.1vw;
    height: 2.1vw;
    margin-left: 0.3vw;
}

//TEXTO DE LA IMAGEN DEL CAROUSEL
.carousel__imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.carousel__texto{
    position: absolute;
    bottom: 15%;
    width: 100%;
    height: 4vw;
    padding: 0.5vw;
    margin: 0;

    background-color: $beigeOpacity;
    font-size: 2.5vw;
    text-align: center;
    color: $text1;
}


// ---------------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------MAIN--------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
main{
    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION QUIENES SOMOS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#quienesSomos{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 3rem;

        div{
            background-color: $beige;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 90%;
            height: 13rem;
            padding: 1.5rem;
            margin: 2rem;

            text-align: center;

            p{
                font-size: 1.5rem;
            }
        }
    }

    //RESPONSIVE DEL DIV DE LA SECCION
    @media (max-width: 993px){
        section#quienesSomos div {
            width: 100%;
        }
    }


    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION PRODUCTOS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#nuestrosProductos{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 3rem;

        text-transform: uppercase;

        div#productos__pedidosInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            width: 70%;
            flex-wrap: wrap;
            text-align: center;

            div.mainProductos__divInfo{                
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 25rem;
                margin: 2rem;                                

                img{
                    height: 3rem;
                    width: auto;
                    margin: 1rem;
                }
                p{
                    font-size: 1.25rem;
                    text-align: center;
                    margin: 1rem;
                }
            }
        }
        //la lista de productos que se hará de forma dinámica 
        div#productos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 70%;
            justify-content: space-evenly;

            div {
                text-align: center;
                border: none;
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION MATES PERSONALIZADOS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#matesPersonalizados{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 3rem;

        div{
            background-color: $beige;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 13rem;
            padding: 1.5rem;
            margin: 2rem;
            text-align: center;

            p{
                font-size: 1.25rem;
            }
        }
    }

    //RESPONSIVE DEL DIV DE LA SECCION
    @media (max-width: 993px){
        section#matesPersonalizados div {
            width: 100%;
        }
    }

    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION MATETIPS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#matetips{

        display: flex;
        flex-direction: column;
        text-align: center;

        margin-top: 3rem;

        button.btn{           

            div.mainMatetips__divBotonGrande{
                display: flex;
                justify-content: center;
                align-items: center;
                
                background-position: center center;
                background-size: cover;
                position: relative;

                height: 20rem;
                margin-top: 3.5rem;

                h3{
                    font-size: 2.1rem;
                    color: white;

                    position: relative;
                    text-align: center;
                }
            }
            // LAS IMÁGENES QUE ESTÁN DENTRO DE LOS BOTONES QUE DESPLIEGAN LOS TIPS
            div#mainMatetip__divBotonGrande--curar{
                background-image: url(../images/sample.jpg); 
            }
            div#mainMatetip__divBotonGrande--cebar{
                background-image: url(../img/../images/sample.jpg);                 
            }
            // PARA SOMBREAR LAS IMÁGENES, PERMITIENDO MEJOR LECTURA DE LOS TÍTULOS
            div#mainMatetip__divBotonGrande--curar:before , div#mainMatetip__divBotonGrande--cebar:before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        button:focus{
            outline: transparent;
            box-shadow: none;
        }

        #tip1, #tip2{
            display: none;
        }

        div.container{
            ul{
                list-style: none;
                font-size: 1.25rem;
                li{
                    margin-top: 1.7rem;
                }
            }
        }
    }

}

//FOOTER
footer {
    background-color: $beige;
    height: 12rem;
    padding: 2rem;
    text-align: center;
    
    margin-top: 1.5rem;

    h1{
        margin-bottom: 1rem;
    }
    i {
        margin: 1rem;
        &:hover{
            color: $brownHovered;
        }
    }
}

//Ocultar footer
@media (min-width: 993px){
    footer {
        display: none;
    }
}
