@import "colors";

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $white;
    color: $text2;
}

// !!!!!! aplicaré el text-transform al header únicamente
header{
    text-transform: uppercase;
}

// PARTE SUPERIOR DEL NAVBAR (contiene el logo y contacto)
//Si te fijás, armé como un navbar de dos partes (navbarTop y navbarBottom) 
//para poder agregar el "Contáctenos" y los íconos y, por debajo, el navbar que se hace toggle. 
//Esto sería el estilo de la parte superior (navbarTop). 
.navbarTop {
    background-color: $beige;
    height: 9.6rem;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: $text1;
        height: fit-content;
    }

    .navbarTop__logo {
        margin: 1.5rem;
    }
}

//RESPONSIVE DEL LOGO
@media (max-width: 576px){
    .navbarTop__logo {
        margin: 1rem;
        width: 40%;
    }
}

//CONTENEDOR DEL CONTACTO Y LOS ICONOS DE WHATSAPP E INSTAGRAM
.contactanosCont{
    display: flex;
    flex-direction: row;
    z-index: 1000;
    align-items: center;
    margin: 1rem;
}

.contactanosCont__text {
    font-size: 1.8rem;
    text-align: center;
    color: $text1;
}

//Acá le doy formato al div que contiene los íconos. 
//Les pongo un radio redondo para usarlos en el responsive
.instagramCont__icon, .whatsappCont__icon {
    background-color: $beige;
    border-radius: 50%; 
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    i { 
        font-size: 2.5rem;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        color: $text1;
        &:hover{
            color: $brownHovered;
        }
    }
}

//QUERIES PARA EL ANCHO DEL CONTACTANOS E ICONOS, Y PARA EL LOGO
@media (min-width: 1200px){
    .navbarTop img {
        width: 20rem;
    }
}

//PARTE INFERIOR DEL NAVBAR
//Estilo para links y textos del navbar
.navbar {
    a {
        text-decoration: none;
        color: $text1;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
    }
}

//Pintar de marrón el navbar
#navbarBottom {
    background-color: $darkBrown;
    a:hover{
        color: $brownHovered;
    }
}

//Esto capaz no se entiende mucho. Boostrap detecta esta clase (originalmente pensada para el brand)
// y ubica el toggle del navbar (en responsive) a la derecha. 
//Entonces le puse el nombre de la página para que no quede vacío, pero lo oculté.
.navbar-brand {
    span {
        display: none;
    }
}

//RESPONSIVE DEL NAVBAR Y FOOTER
@media (max-width: 993px){
    //RESPONSIVE DEL CONTENEDOR DEL CONTACTO
    //Acá lo pongo fixed para que el ícono de Instagram se desplace en el lateral de la web.
    .contactanosCont {
        position: fixed;
        margin: 0;
        bottom: 20px;
        right: 20px;

        //Acá oculto el texto "Contáctenos" al hacerse el responsive.
        .contactanosCont__text {
            display: none;
        }

        .instagramCont__icon{
            width: 5rem;
            height: 5rem;
            background-color: $darkBrown;
            box-shadow: 0px 2px 5px $text1;

            i{
                color: $brownHovered ;
                font-size: 3.5rem;
            }
        }
        // Quitar el ícono de whatsapp en responsive
        .whatsappCont__icon{
            display: none;
        }
    }

    .navbar li {
        margin: 1.5rem;
    }
    
    #navbarBottom {
        background-color: $beige;
    }
}

//OCULTAR CONTACTO EN TOGGLER Y FOOTER
@media (min-width: 993px){
    #contactoId {
        display: none;
    }
}

//CAROUSEL
.carousel {
    height: 60rem;
    img{
        height: 60rem;
        object-fit: cover;
    }
  }

//BOTON Y FLECHA DEL CAROUSEL
.carousel-control-prev, .carousel-control-next {
    background-color: $darkBrown;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    top: 45% !important;
    margin: 1rem;
}

.carousel-control-prev-icon{
    width: 2rem;
    height: 2rem;
    margin-right: 0.3vw;
}
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.3vw;
}

//TEXTO DE LA IMAGEN DEL CAROUSEL
.carousel__imagen{
    position: relative;
    display: inline-block;
    text-align: center;
}

.carousel__texto{
    position: absolute;
    bottom: 15%;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $beigeOpacity;

        font-size: 2.2rem;
        text-align: center;
        color: $text1;
        font-weight: 600;
}


// ---------------------------------------------------------------------------------------------------------------------
// ---------------------------------------------------------------MAIN--------------------------------------------------
// ---------------------------------------------------------------------------------------------------------------------
main{
    font-size: 1.6rem;
    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION QUIENES SOMOS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#quienesSomos{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 3rem;

        div{
            background-color: $beige;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 90%;
            height: 13rem;
            padding: 1.5rem;
            margin: 2rem;

            text-align: center;

            h1{
                padding: 0.5rem;
            }
        }
    }

    //RESPONSIVE DEL DIV DE LA SECCION
    @media (max-width: 993px){
        section#quienesSomos div {
            width: 100%;
        }
    }

    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION PRODUCTOS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#nuestrosProductos{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            margin-top: 3rem;
        }

        div#productos__pedidosInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            width: 80%;
            flex-wrap: wrap;
            text-align: center;
            margin: 3rem;

            div.mainProductos__divInfo{                
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 25rem;
                margin: 1rem;                                

                img{
                    height: 3rem;
                    width: auto;
                }

                p{
                    text-align: center;
                    margin: 1rem;
                    text-transform: uppercase;
                    color: $text2;
                    font-weight: 500;
                }
            }
        }
        //la lista de productos que se hará de forma dinámica 
        div#productos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
            justify-content: space-evenly;

            div{
                text-align: center;
                border: none;                
            }

            div.productos__card--hover{
                width: 25rem ;

                .btn:focus {
                    outline: none;
                    box-shadow: none;
                  }
                
                .card-title{
                    text-transform: uppercase;
                    color: $text2;
                    font-weight: 500;
                    font-size: 1.6rem;
                }
            }
                  
            div.productos__card--hover:hover{
                background-color: $beigeOpacity;
            }
            
            div.modal{
                div.modal-dialog{
                    div.modal-content{
                        div.modal-header{
                            display: flex;
                            flex-direction: column;
                            h5{
                                width: 100%;
                                font-size: 3rem;
                                text-align: center;
                                // margin-top: 5%;
                            }
                        }
                    }
                }
               
            }
        }
    }
    // EN LOS DISPOSITIVOS MÓVILES LA DESCRIPCIÓN DEL MODAL ES EN MINÚSCULA
    @media (max-width: 993px){
        div#productos{
            height: 80vh;
            overflow-y: scroll;
            div.modal{
                div.modal-dialog{
                    div.modal-content{
                        div.modal-body{
                            div{
                                text-transform: lowercase;
                            }
                        }
                    }
                }
               
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION MATES PERSONALIZADOS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#matesPersonalizados{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 3rem;

        div{
            background-color: $beige;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 13rem;
            padding: 1.5rem;
            margin: 2rem;
            text-align: center;

            h1{
                padding: 0.5rem;
            }
        }
    }

    //RESPONSIVE DEL DIV DE LA SECCION
    @media (max-width: 993px){
        section#matesPersonalizados div {
            width: 100%;
        }
    }

    // -----------------------------------------------------------------------------------------------------------
    // -----------------------------------------SECTION MATETIPS--------------------------------------------------
    // -----------------------------------------------------------------------------------------------------------
    section#matetips{

        display: flex;
        flex-direction: column;
        text-align: center;

        h1{
            margin-top: 3rem;
        }

        div#mateTips__tipsContainer{

            display: flex;
            flex-direction: row;
            width: 90%;
            margin: 0 auto;

            button.btn{           

                div.mainMatetips__divBotonGrande{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    background-position: center center;
                    background-size: cover;
                    position: relative;
    
                    height: 35rem;
                    margin-top: 3.5rem;
    
                    h3{
                        display: none;
                        font-size: 2.5rem;
                        color: white;
    
                        position: relative;
                        text-align: center;
                    }
                }
                // el hover que muestra el título de cada tip
                div.mainMatetips__divBotonGrande:hover{
                    h3{
                        display: inline;
                    }
                }
                // LAS IMÁGENES QUE ESTÁN DENTRO DE LOS BOTONES QUE DESPLIEGAN LOS TIPS
                div#mainMatetip__divBotonGrande--curar{
                    background-image: url(../images/curar.jpg); 
                }
                div#mainMatetip__divBotonGrande--cebar{
                    background-image: url(../img/../images/cebar.jpg);                 
                }
                div#mainMatetip__divBotonGrande--cuidar{
                    background-image: url(../img/../images/cuidar.jpg);                 
                }
                // PARA SOMBREAR LAS IMÁGENES, PERMITIENDO MEJOR LECTURA DE LOS TÍTULOS
                div#mainMatetip__divBotonGrande--curar:before , div#mainMatetip__divBotonGrande--cebar:before, div#mainMatetip__divBotonGrande--cuidar:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            button:focus{
                outline: transparent;
                box-shadow: none;
            }
    
            #tip1, #tip2, #tip3{
                display: none;
            }
    
            div.mateTip__tipDesplegado{

                position: relative;
                background-color: $beigeOpacity;
                height: 35rem;
                margin-top: 3.85rem;

                div{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 1rem;
                    
                    ol{           
                        text-align: left;
                        li{
                            margin-top: 1.2rem;
                            p.mateTips__subtitulo{
                                font-weight: bold;
                                margin-bottom: 0.2rem;
                            }
                        }
                    }
                }

               

                button{
                    position: absolute;
                    top: 1rem;
                    right: 0;                
                }
            }
        }

        
    }
    // QUERY DONDE SE CAMBIA LA DISPOSICIÓN DE LOS BOTONES DE FILA A COMLUMNA Y SE HACEN VISIBLES LOS TÍTULOS DE LOS TIPS
    @media (max-width: 878px){
       
            section#matetips{              
                div#mateTips__tipsContainer{
                    display: flex;
                    flex-direction: column;  

                    button.btn{    
                        div.mainMatetips__divBotonGrande{
                            h3{
                                display: block;
                            }
                        }
                    }
                }     
            }
    }
}    

//FOOTER
footer {
    background-color: $beige;
    height: 15rem;
    padding: 2rem;
    text-align: center;
    
    margin-top: 1.5rem;

    h1{
        margin-bottom: 1rem;
    }
    i {
        margin: 1rem;
        &:hover{
            color: $brownHovered;
        }
    }
}

//Ocultar footer
@media (min-width: 993px){
    footer {
        display: none;
    }
}


// LAS QUERYS PARA DISPOSITIVOS DE PANTALLA PEQUEÑA DONDE SE VA CAMBIANDO EL TAMAÑO DE FUENTE RAIZ SEGÚN SEA EL CASO

@media (max-width: 1010px){
    main{
        font-size: 1.4rem;
    }
}
@media (max-width: 878px){

    html {
        font-size: 1.3vw;
    }
}
@media (max-width: 700px){

    html {
        font-size: 1.5vw;
    }
}
@media (max-width: 600px){

    html {
        font-size: 1.8vw;
    }
}
@media (max-width: 500px){

    html {
        font-size: 2vw;
    }
}
@media (max-width: 400px){

    html {
        font-size: 2.27vw;
    }
}